<IfModule mod_rewrite.c>
	RewriteEngine On
	#RewriteCond %{REQUEST_FILENAME} !-f
	#RewriteRule ^(.*)$ web/$1 [QSA,L]
	#RewriteRule ^gestionprojet/(.*)$ gestionprojet/web/$1 [QSA,L]
	RewriteRule ^(.*)$ web/$1 [L]
</IfModule>