{%if projetactif%}
<header class="main-header clearfix">
        <!-- Logo Start -->
        <div class="row barniere">
            <img src="{{asset('images/header.png')}}" alt="Barnière" />
        </div>
        <div class="row head">
            <h2>{{projetactif.intitule|upper}}</h2>
        </div> 
        <!-- Logo End -->
  </header>
{%endif%}