{# Page d'accueil du projet  #}


{% extends "GestionProjetBundle::bundle.template.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %} 
    {{parent()}}
    {# Fichiers css en plus #}
{% endblock %}

{% block utilisateur %}
    {{parent()}}
{% endblock %}

{% block breadcrumbTitle %}
    Accueil
{% endblock %}

{% block breadcrumbDescription %}
   Résumé du projet
{% endblock %}

{% block breadcrumbPosition %}
   Accueil
{% endblock %}

{% block contenupage %}
<div class="row">
    <!-- Left Panel start-->
    <div class="col-md-3">
        <!-- Présentation du projet start -->
        <div class="box box-primary">
            <!-- /.box-header start -->
          <div class="box-header with-border">
            <h3 class="box-title">Présentation</h3>                      
          </div>
            <!-- /.box-header end -->

            <!-- /.box-body start-->
          <div class="box-body">

          </div>
            <!-- /.box-body end -->
        </div>
        <!-- Présentation du projet end -->

        <!-- Intervenants du projet start -->
        <div class="box box-primary">
            <!-- /.box-header start -->
          <div class="box-header with-border">
            <h3 class="box-title">Intervenants</h3>                      
          </div>
            <!-- /.box-header end -->

            <!-- /.box-body start-->
          <div class="box-body">
              <ul class="users-list clearfix">
                  <li>
                    <img src="dist/img/user1-128x128.jpg" alt="User Image"/>
                    <a class="users-list-name" href="#">Alexander Pierce</a>
                    <span class="users-list-date">Today</span>
                  </li>
                  <li>
                    <img src="dist/img/user8-128x128.jpg" alt="User Image"/>
                    <a class="users-list-name" href="#">Norman</a>
                    <span class="users-list-date">Yesterday</span>
                  </li>
                  <li>
                    <img src="dist/img/user7-128x128.jpg" alt="User Image"/>
                    <a class="users-list-name" href="#">Jane</a>
                    <span class="users-list-date">12 Jan</span>
                  </li>
                  <li>
                    <img src="dist/img/user6-128x128.jpg" alt="User Image"/>
                    <a class="users-list-name" href="#">John</a>
                    <span class="users-list-date">12 Jan</span>
                  </li>
                  <li>
                    <img src="dist/img/user2-160x160.jpg" alt="User Image"/>
                    <a class="users-list-name" href="#">Alexander</a>
                    <span class="users-list-date">13 Jan</span>
                  </li>
                  <li>
                    <img src="dist/img/user5-128x128.jpg" alt="User Image"/>
                    <a class="users-list-name" href="#">Sarah</a>
                    <span class="users-list-date">14 Jan</span>
                  </li>
                  <li>
                    <img src="dist/img/user4-128x128.jpg" alt="User Image"/>
                    <a class="users-list-name" href="#">Nora</a>
                    <span class="users-list-date">15 Jan</span>
                  </li>
                  <li>
                    <img src="dist/img/user3-128x128.jpg" alt="User Image"/>
                    <a class="users-list-name" href="#">Nadia</a>
                    <span class="users-list-date">15 Jan</span>
                  </li>
                </ul><!-- /.users-list -->


              <div class="box-footer text-center">
                <a href="javascript::" class="uppercase">Plus de détails</a>
              </div><!-- /.box-footer -->

          </div>
            <!-- /.box-body end -->
        </div>
        <!-- Intervenants du projet end -->
    </div>
    <!-- Left Panel end-->

    <!-- Central Panel start-->
    <div class="col-md-6">
        <!-- Calendrier start -->
        <div class="box box-success">
            <!-- /.box-header start -->
          <div class="box-header with-border">
            <h3 class="box-title">Calendrier</h3>                      
          </div>
            <!-- /.box-header end -->

            <!-- /.box-body start-->
          <div class="box-body">

          </div>
            <!-- /.box-body end -->
        </div>
        <!-- Calendrier end -->

        <!-- Evolution start -->
        <div class="box box-success">
            <!-- /.box-header start -->
          <div class="box-header with-border">
            <h3 class="box-title">Evolution</h3>                      
          </div>
            <!-- /.box-header end -->

            <!-- /.box-body start-->
          <div class="box-body">

          </div>
            <!-- /.box-body end -->
        </div>
        <!-- Evolution end -->

    </div>
    <!-- Central Panel end-->

    <div class="col-md-3">
        <!-- Actualités du projet start -->
        {{render(controller('GestionProjetBundle:Actualite:getActualites', {'nbre_actualite', 10}))}}
        <!-- Actualités du projet end -->
    </div>
</div>
{% endblock %}

{% block js %}
    {{ parent()}}
    {# Fichiers js en plus #}
{% endblock %}