<div class="box box-primary">
    <!-- /.box-header start -->
    <div class="box-header with-border">
        <h3 class="box-title">Présentation</h3>                      
    </div>
    <!-- /.box-header end -->

    <!-- /.box-body start-->
    <div class="box-body">
        {{projetactif.code}}
    </div>
    <!-- /.box-body end -->
</div>
