{# Template de bundle de l'application #}
{% extends "::base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %} 
    {{parent()}}
    {# Fichiers css en plus #}
{% endblock %}

{% block menu %}
<!-- Menu Start -->
{{render(controller('GestionProjetBundle:Projet:menu'))}}
<!-- Menu End -->
{% endblock %}

{% block contenu %} 
      <div class="row">
        <!-- Block contenu  Start-->
        
        <div class="col-md-12 main-contain">
          <!-- Content Header (Page header) -->
          <section class="content-header">
            <h1>
               {% block breadcrumbTitle %}
                    Accueil
               {% endblock %}
              <small><bold>{% block breadcrumbDescription %}Résumé du projet{% endblock %}</bold></small>
            </h1>
			<div class="col-md-12">
            <ol class="row  breadcrumb" style="font-weight: bold;">
              <li><a href="{{path("homepage")}}"><i class="fa fa-dashboard"></i> Accueil</a></li>
              <li>{% block breadcrumbPosition %}Accueil{% endblock %}</li>
			  {% block breadcrumbPlus %}{% endblock %}
			  {% block breadcrumbPlusP %}{% endblock %}
			  {% block breadcrumbPlusPP %}{% endblock %}
            </ol>
			</div>
          </section>

          
          <!-- Main content Start-->
          <section class="content">
             <div class="row col-md-offset-0 col-md-12">
            {% block contenupage %}

            {% endblock %}
            </div>
          </section>
          <!-- Main content End-->
          
        </div>
        
        <!-- Block contenu End -->
      </div>
{% endblock %}

{% block js %}
    {{ parent()}}
    {# Fichiers js en plus #}
{% endblock %}