{# Template de bundle de l'application #}
{% extends "::base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %} 
    {{parent()}}
    {# Fichiers css en plus #}
{% endblock %}

{% block menu %}
<!-- Menu Start -->
<section class="navbar navbar-default navbar-top menu-block">
    <!-- Logo End -->
    <div class="row">               
        <div class="col-md-9 col-md-offset-1"> 
            <!-- Menu start -->
            <ul class="nav navbar-nav navbar-left treeview treeview-menu">
              <li class="active">
                <a href="#">
                  <i class="fa fa-home"></i> <span>Accueil</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-pie-chart"></i>
                  <span>Evolution</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-calendar"></i> 
                  <span>Calendrier</span> 
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-newspaper-o"></i>
                  <span>Actualités</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-edit"></i>
                  <span>Documentation</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-users"></i>
                  <span>Utilisateurs</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-comment"></i> 
                  <span>Collaboration</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-coffee"></i> 
                  <span>Intervenants</span>
                </a>
              </li>
            </ul>
            <!-- Menu end -->
        </div> 
        <!-- Sidebar user panel Start-->
        <div class="pull-right info col-md-2">
          <!--div class="pull-left image">
            <img src="" class="img-circle" alt="User Image" />
          </div-->
          <div class="info dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-user"></i><b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li class="center-block center"><bold>{% block contenu %}Admin{% endblock %}</bold></li>
                    <li><a href="#"><i class="fa fa-eye"></i>Voir profil</a></li>
                    <li><a href="#"><i class="fa fa-lock"></i>Se déconnecter</a></li>
                </ul>
          </div>
        </div>
        <!-- Sidebar user panel End-->
   </div>
</section>
<!-- Menu End -->
{% endblock %}

{% block contenu %} 
      <div class="row">
        <!-- Block contenu  Start-->
        
        <div class="col-md-12 main-contain">
          <!-- Content Header (Page header) -->
          <section class="content-header">
            <h1>
               {% block breadcrumbTitle %}
                    Accueil
               {% endblock %}
              <small><bold>{% block breadcrumbDescription %}Résumé du projet{% endblock %}</bold></small>
            </h1>
            <ol class="breadcrumb">
              <li><a href="#"><i class="fa fa-dashboard"></i> Projet</a></li>
              <li><a href="#">{% block breadcrumbPosition %}Accueil{% endblock %}</a></li>
            </ol>
          </section>

          
          <!-- Main content Start-->
          <section class="content">
            {% block contenupage %}
            <div class="row">
                
                
                
            </div>
            {% endblock %}
          </section>
          <!-- Main content End-->
          
        </div>
        
        <!-- Block contenu End -->
      </div>
{% endblock %}

{% block js %}
    {{ parent()}}
    {# Fichiers js en plus #}
{% endblock %}