{# Formulaire de création d'un lot #}

<form role="form">
    <div class="box-body">
       {# Code du projet #} 
      <div class="form-group">
        <label for="codeprojet">Nom du lot</label>
        <input type="text" class="form-control" id="" placeholder="Code du projet">
      </div>
      
      {# Date début #} 
      <div class="form-group">
        <label>Date début</label>
        <div class="input-append date datetimepicker">
            <input data-format="yyyy/MM/dd hh:mm:ss" type="text"></input>
            <span class="add-on">
              <i data-time-icon="icon-time" data-date-icon="icon-calendar">
              </i>
            </span>
        </div>
      </div>
      
      {# Date fin #} 
      <div class="form-group">
        <label>Date Fin</label>
        <div class="input-append date datetimepicker">
            <input data-format="yyyy/MM/dd hh:mm:ss" type="text"></input>
            <span class="add-on">
              <i data-time-icon="icon-time" data-date-icon="icon-calendar">
              </i>
            </span>
        </div>
      </div>
      
      {#
            
      {# Description du lot #}
       <textarea class="ckeditor" name="description" rows="10" cols="50">
          
       </textarea>
      
      
    </div><!-- /.box-body -->

    <div class="box-footer">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>