{# Template affichage d'une actualité #}
<div class="box box-primary">
    <div class="box-header">
      <h3>Évènement</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
       <div class="row col-md-12">
            <div class="product-img col-md-2">
              <img src="images/default-50x50.gif" alt="Product Image"/>
            </div>
            <div class="product-img col-md-10">                
                <div class="product-img col-md-12">
                    <h4>Titre</h4>
                </div>
                <div class="product-img col-md-12">
                    <h4>Type</h4>
                </div>
                <div class="product-img col-md-12">
                    <div class="product-img col-md-6">
                        <label>Du</label>
                        <input type="text" class="form-control" >
                    </div>
                    <div class="product-img col-md-6">
                        <label>Au</label>
                        <input type="text" class="form-control" >
                    </div>
                </div>
                <div class="product-info col-md-12">
                    <p>Description</p>
                </div>                
                <div class="row product-description col-md-3 pull-right">
                    <a><i class="fa fa-plus"></i>Voir plus</a>
                    <a><i class="fa fa-edit"></i>Modifier</a>
                </div>
            </div>                      
          </div>
    </div>
</div>