{# Formulaire d'affichage d'une actualité #}

<div class="product-img col-md-2">
    <img src="dist/img/default-50x50.gif" alt="Product Image"/>
</div>
<div class="product-info col-md-10">
    <a href="javascript::;" class="product-title">Samsung TV <span class="label label-warning pull-right">$1800</span></a>
    <div class="product-description">
      Samsung 32" 1080p 60Hz LED Smart HDTV.
    </div>
</div>