{# Template affichage d'une ressource #}

<div class="box box-primary">
    <div class="box-header">
        <h3>Ressource</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row col-md-12">
            <div class="product-img col-md-12">
                <div class="product-img col-md-2">
                    <img src="dist/img/default-50x50.gif" alt="Logo intervenant"/>
                    <h4>Nom intervenant</h4>
                </div>
                <div class="product-img col-md-2">
                    <h4>Reférence</h4>
                </div>
                <div class="product-img col-md-2">
                    <h4>Type</h4>
                </div>
                <div class="product-img col-md-2">
                    <h4>URL</h4>
                </div>
            </div>
            <div class="product-info col-md-12">
                <p>Description</p>                
            </div>            
        </div>
    </div>
    <div class="box-footer">
      <button class="btn btn-success pull-right">Modifier</button>
      <button class="btn btn-danger pull-left">Supprimer</button>
    </div>
</div>