{# Template liste des thèmes #}

<!-- Actualités start-->
<div class="box box-primary">
<div class="box-header">
  <h3 class="box-title">Thèmes</h3><a class="pull-right"><i class="fa fa-plus"></i>Ajouter</a>
</div><!-- /.box-header -->
<div class="box-body">
  <table class="data-table table table-bordered table-striped">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      
    {% for theme in themes %}
      <tr>
        <td>Trident</td>
        <td>Internet</td>
        <td><a class="pull-right"><i class="fa fa-eye"></i>Voir actus</a></td>
      </tr>
    {% else %}
      <tr>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
    {% endfor %}      
    </tbody>
  </table>
</div><!-- /.box-body -->
</div>
<!-- actualités end-->
 
