{# Template liste des thèmes #}

<!-- Actualités start-->
<div class="box box-success">
<div class="box-header">
  <h3 class="box-title">Thèmes</h3><a href="{{path('gestion_projet_theme_new')}}" class="pull-right"><i class="fa fa-plus"></i><span>Ajouter</span></a>
</div><!-- /.box-header -->
<div class="box-body">
<ul class="products-list product-list-in-box">
    {% for theme in themes %}
		<li class="item">
			<a href="{{path('gestion_projet_theme_unique',{'id':theme.id})}}">
			  <div class="row col-md-12">
					 {{theme.nom}}              
			  </div>
			</a>
			<hr>
        </li>      
    {% else %}
      <li class="item">			
		  <div class="row col-md-12">
				 Pas de thèmes disponibles...             
		  </div>			
      </li>
    {% endfor %}     
 </ul>
</div><!-- /.box-body -->
</div>
<!-- actualités end-->
 
