{# Page e présentation d'un intervenant  #}

<!-- Intervenant du projet start -->
<div class="box box-primary">
    <!-- /.box-header start -->
  <div class="box-header with-border">
    <h3 class="box-title">Nom de l'intervenant</h3>                      
  </div>
    <!-- /.box-header end -->

    <!-- /.box-body start-->
  <div class="box-body">
      <!-- Left Panel start-->
    <div class="col-md-4">
        <!-- Présentation du projet start -->
        <div class="box box-success">
            <!-- /.box-header start -->
          <div class="box-header with-border">
            <h3 class="box-title">Présentation</h3>                      
          </div>
            <!-- /.box-header end -->

            <!-- /.box-body start-->
          <div class="box-body">

          </div>
            <!-- /.box-body end -->
        </div>
        <!-- Présentation du projet end -->

        <!-- Intervenants du projet start -->
        <div class="box box-success">
            <!-- /.box-header start -->
          <div class="box-header with-border">
            <h3 class="box-title">Description</h3>                      
          </div>
            <!-- /.box-header end -->

            <!-- /.box-body start-->
          <div class="box-body">
              

          </div>
            <!-- /.box-body end -->
        </div>
        <!-- Intervenants du projet end -->
    </div>
    <!-- Left Panel end-->

    <!-- Central Panel start-->
    <div class="col-md-8">
        <div class="row">
            <!-- Calendrier start -->
            <div class="col-md-6">
            <div class="box box-success">
                <!-- /.box-header start -->
              <div class="box-header with-border">
                <h3 class="box-title">Rôles et missions</h3>                      
              </div>
                <!-- /.box-header end -->

                <!-- /.box-body start-->
              <div class="box-body">

              </div>
                <!-- /.box-body end -->
            </div>
            </div>
            <!-- Calendrier end -->

            <!-- Evolution start -->
            <div class="col-md-6">
            <div class="box box-success">
                <!-- /.box-header start -->
              <div class="box-header with-border">
                <h3 class="box-title">Personnels clés</h3>                      
              </div>
                <!-- /.box-header end -->

                <!-- /.box-body start-->
              <div class="box-body">

              </div>
                <!-- /.box-body end -->
            </div>
            </div>
            <!-- Evolution end -->
        </div>
        <div class="row">
            <div class="box box-success">
                <!-- /.box-header start -->
              <div class="box-header with-border">
                <h3 class="box-title">Avancements</h3>                      
              </div>
                <!-- /.box-header end -->

                <!-- /.box-body start-->
              <div class="box-body">
                  <div class="progress-group">
                        <span class="progress-text">Attendu</span>
                        <span class="progress-number"><b>30</b>/100</span>
                        <div class="progress sm">
                          <div class="progress-bar progress-bar-aqua" style="width: 30%"></div>
                        </div>
                    </div>
                  <div class="progress-group">
                        <span class="progress-text">Réalisé</span>
                        <span class="progress-number"><b>25</b>/100</span>
                        <div class="progress sm">
                          <div class="progress-bar progress-bar-red" style="width: 25%"></div>
                        </div>
                    </div>
              </div>
                <!-- /.box-body end -->
            </div>
        </div>

    </div>
    <!-- Central Panel end-->

  </div>
    <!-- /.box-body end -->
</div>
<!-- Intervenants du projet end -->