{# Page Collaboration du projet  #}


{% extends "GestionProjetBundle::bundle.template.html.twig" %}

{% block title %}Collaboration{% endblock %}

{% block stylesheets %} 
    {{parent()}}
    {# Fichiers css en plus #}
{% endblock %}
{% block menuCollaboration %}class="active"{% endblock %}
{% block utilisateur %}
    {{parent()}}
{% endblock %}

{% block breadcrumbTitle %}
   
{% endblock %}

{% block breadcrumbDescription %}
  
{% endblock %}

{% block breadcrumbPosition %}
   Collaboration
{% endblock %}

{% block contenupage %}
<div class="row">
        
<!-- Historique start-->
<div class="col-sm-4">                  
    {#{render(controller('GestionProjetBundle:Actualite:getActualites', {'nbre_actualite': 10}))}#}
	<!-- Historique start-->
<div class="box box-success">
<div class="box-header">
  <h3 class="box-title">Historique</h3>
</div><!-- /.box-header -->
<div class="box-body">
  <ul class="products-list product-list-in-box">
        <li class="item">
          <div class="col-md-2">
          </div>
          <div class="col-md-9 col-md-offset-1">
          </div>
        </li>
  </ul>
</div><!-- /.box-body -->
</div>
<!-- Historique end-->
</div>
<!-- Envoyer message start-->
    <div class="col-sm-8">                  
      <div class="box box-success">
          <div class="box-header">
              <h3>Envoyer un message</h3>
          </div><!-- /.box-header -->
          <form role="form">
              <div class="box-body">
                  <div class="col-sm-12">
				      <div class="form-group">
                          <label>Destinataires</label>
						  <select class="form-control multiselect" multiple="multiple">
							  {#% for destinataire in liste_destinataires %#}
								<option>Dest. 1</option>
							  {#% else %#}
								<option>Defaut</option>
							  {#% endfor %#}
						  </select>
                      </div>
                      <div class="form-group">
                          <label for="">Objet</label>
                          <input type="text" class="form-control" placeholder="Objet du message">
                      </div>
                      <textarea rows="10" cols="70" class="collab-message ckeditor">

                      </textarea>
                      <div class="form-group">
                          <label for="">Attacher un fichier</label>
                          <input type="file" id="exampleInputFile">
                      </div>
                  </div>
              </div>
              <div class="box-footer">
                  <button type="submit" class="btn btn-success">Envoyer</button>
              </div>
          </form>
      </div>
    </div>
<!-- Envoyer un message end-->
</div>
{% endblock %}

{% block js %}
    {{ parent()}}
    {# Fichiers js en plus #}
    <script src="https://cdn.ckeditor.com/4.4.3/standard/ckeditor.js"></script>
    <script>
      $(function () {
        // Replace the <textarea id="ckeditor"> with a CKEditor
        // instance, using default configuration.
        CKEDITOR.replace('ckeditor');
      });
    </script>
{% endblock %}